.idea/

Frontend/node_modules/
Frontend/.quasar/
Frontend/dist/
Frontend/quasar.config.*.temporary.compiled*

# Cordova related directories and files
Frontend/src-cordova/node_modules
Frontend/src-cordova/platforms
Frontend/src-cordova/plugins
Frontend/src-cordova/www

# Capacitor related directories and files
Frontend/src-capacitor/www
Frontend/src-capacitor/node_modules/


# Archivos de Python/Django
Backend/__pycache__/
Backend/*.pyc
Backend/*.sqlite3